# The Caddyfile is an easy way to configure FrankenPHP and the Caddy web server.
#
# https://frankenphp.dev/docs/config
# https://caddyserver.com/docs/caddyfile

{
	debug
#	local_certs
#	skip_install_trust
#	auto_https disable_redirects # This is required to avoid redirect loops when using a reverse proxy and cloud load balancers.
#	local_certs
	# testing certificates
	#acme_ca https://acme-staging-v02.api.letsencrypt.org/directory

	{$CADDY_GLOBAL_OPTIONS}

	frankenphp {
		{$FRANKENPHP_CONFIG}
	}
}

{$CADDY_EXTRA_CONFIG}

# As an alternative to editing the above site block, you can add your own site
# block files in the Caddyfile.d directory, and they will be included as long
# as they use the .caddyfile extension.

import Caddyfile.d/*.caddyfile
